<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<integer>0</integer>
		<key>vocabulary</key>
		<string>hello</string>
		<key>meaning</key>
		<string>xin chào</string>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>1</integer>
		<key>vocabulary</key>
		<string>goodbye</string>
		<key>meaning</key>
		<string>tạm biệt</string>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>2</integer>
		<key>vocabulary</key>
		<string>idea</string>
		<key>meaning</key>
		<string>ý tưởng</string>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>3</integer>
		<key>vocabulary</key>
		<string>run away</string>
		<key>meaning</key>
		<string>chạy thật xa</string>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>4</integer>
		<key>vocabulary</key>
		<string>get intouch</string>
		<key>meaning</key>
		<string>giữ liên lạc</string>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>5</integer>
		<key>vocabulary</key>
		<string>pass away</string>
		<key>meaning</key>
		<string>mất, hi sinh</string>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>6</integer>
		<key>vocabulary</key>
		<string>fuck you bitch</string>
		<key>meaning</key>
		<string>địt mẹ bạn</string>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>7</integer>
		<key>vocabulary</key>
		<string>stupid man</string>
		<key>meaning</key>
		<string>thằng ngu</string>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>8</integer>
		<key>vocabulary</key>
		<string>heart beat</string>
		<key>meaning</key>
		<string>nhịp tim</string>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>9</integer>
		<key>vocabulary</key>
		<string>dog</string>
		<key>meaning</key>
		<string>con chó</string>
	</dict>
	<dict>
		<key>identifier</key>
		<integer>0</integer>
		<key>vocabulary</key>
		<string>do business</string>
		<key>meaning</key>
		<string>đi vệ sinh</string>
	</dict>
</array>
</plist>
